body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dab785;
}
.container{
    position: relative;
    cursor: pointer;
}
.iris{
    position: absolute;
    width: 70px;
    height: 70px;
    border: 5px solid #333;
    border-radius: 50%;
    background-color: #0077b6;
    left: 40px;
    top: 40px;
}
.iris:before{
content: "";
position: absolute;
background-color: #333;
border-radius: 50%;
width: 40px;
height: 40px;
top: 22%;
left: 22%;
}
.iris:after{
content: "";
position: absolute;
background-color: rgba(255,255,255,0.4);
border-radius: 50%;
width: 15px;
height: 15px;
top: 35%;
left: 35%;
box-shadow: -35px 20px rgba(255, 255, 255, 0.4);
}